<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/34578273-74b4-4d11-8238-34453557b3fc/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.ContainerRegistry/registries/WorkPlaceShedulesApi20240331125630</ResourceId>
    <ResourceName>WorkPlaceShedulesApi20240331125630</ResourceName>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <Subscription>Suscripción de Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://workplaceshedulesapi20240331125630.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0aacc56c-1015-4a7e-a3c4-53c799f94cc0</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>